:root{
    --color-main: "#0A84FF";
    --color-secondary-01: "#18B4FF";
    --color-secondary-02: "#4831D4";
    --color-bg: "#0A1A2F";
    --color-text-01: "#EAEAEA";
    --color-text-02: "#D1D9E6";
    --color-bs-01: '#001B44';
    --color-bs-02: '#0D2136';
}

/*? Definições */
.text-color-main{
    color: #0A84FF;
}
.text-color-1{
    color: #EAEAEA;
}
.text-color-2{
    color: #D1D9E6;
}
.btn-main{
    background-color: #0A84FF;
    color: #EAEAEA;
}
.btn-main:hover,
.btn-main:focus-visible,
.btn-main:active{
    background-color: #0769ca !important;
    color: #FFFFFF !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-color: transparent !important;
}
.btn-main:focus-visible,
.btn-main:active{
    background-color: #033970 !important;
}
.btn-main:disabled{
    background-color: #032444;
    color: #FFFFFF;
    border: none;
    cursor: no-drop;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.bg-pry{
    background-color: rgb(24 24 27);
}
.bg-sec{
    background-color: #27272a;
}

.border-color{
    border-color: #ffffff1a !important;
}

/*** Definições de formulário ***/
input.form-control:focus{
    box-shadow: none;
    background-color: rgb(24 24 27);
    color: #EAEAEA;
}
input.form-control:focus,
input.form-check-input:focus{
    border-color: #18B4FF !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
input.form-control::placeholder{
    color: #55595c;
}
input.form-check-input:checked{
    background-color: #0A84FF;
}

body{
    width: 100vw;
    height: 100vh;
}

.contaner-auth{
    max-width: 350px;
    min-width: 40%;
}

.nav-btn.active{
    background-color: #0A84FF;
    color: #FFFFFF;
    border-color: transparent;
    pointer-events: none;
}
.nav-btn:hover:not(.active){
    background-color: #ffffff1a;
    color: #EAEAEA;
    border-color: transparent;
}
.nav-btn:focus-visible:not(.active),
.nav-btn:active:not(.active){
    background-color: #033970 !important;
    color: #EAEAEA !important;
    border-color: transparent !important;
}

.wrapper-auth{
    width: 100%;

    overflow: hidden;
}
.wrapper-auth > *{
    min-width: 100%;
}
